{% extends 'base.html' %} {% from '_summary_card.html' import summary_card %} {%
block title %}Mutual Funds{% endblock %} {% block page_heading %}Mutual Funds{%
endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='record_actions.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='portfolio_summary.css') }}"
/>
{% endblock %} {% block content %} {% set summary = namespace(values={}) %} {%
for row in rows %} {% set code = row['currency'] %} {% set invested =
row['invested_amount']|float %} {% set current = row['current_value']|float %}
{% if code not in summary.values %} {% set _ = summary.values.update({code:
{'invested': invested, 'current': current, 'count': 1}}) %} {% else %} {% set _
= summary.values[code].update({ 'invested':
